:root {
    --primary-color: #FFC753;
    --secondary-color: #0D0D0D;
    --primary-color-hover: #FFAD0A;
    --cta-outline-hover: #EBEBEB;
    --section-primary-color: #FFFFFF;
    --section-secondary-color: #F9FBF2;
    --border-color: #DADADA;
    --copyright-color: #747474;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    background-color: var(--secondary-color);
    color: var(--secondary-color);
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.main {
    margin-top: 48px;
}



/* ------ HEADINGS ----- */
h1, h2, h3, h4 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

h1 {
    font-size: 85px;
    line-height: 95px;
}

h2 {
    font-size: 40px;
    line-height: 45px;
}

h3 {
    font-size: 30px;
    line-height: 35px;
}

h4 {
    font-size: 20px;
}



/* ------ CALL TO ACTION ----- */
.cta {
    padding: 5px 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: solid 1px var(--primary-color);
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 300ms;
}

    .cta:hover {
        background-color: var(--primary-color-hover);
    }

.cta--outline {
    background-color: transparent;
    transition: background-color 300ms;
}

    .cta-outline:hover {
        background-color: var(--cta-outline-hover);
    }

.cta--big {
    font-size: 25px;
    padding: 5px 25px;
    width: fit-content;
}



/* --------- BURGER --------- */
.burger { 
    width: 24px;
    height: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
    flex-direction: column;
    justify-content: space-evenly;
    display: none;
    align-items: stretch;
}

.burger__line {
    display: block;
    height: 3px;
    background-color: var(--primary-color-hover);
    }

.burger:hover {
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .burger {
        display: flex;
    }
}



/* --------- HEADER --------- */
.header {
    background-color: var(--section-primary-color);
    border-bottom: solid 1px var(--border-color);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.header__content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header__logo {
    display: block;
    height: 20px;
}

.header__options {
    display: flex;
    gap: 15px;
    margin-left: auto;
}

@media screen and (max-width: 1024px) {
    .header__nav {
        order: 1;
    }
}

@media screen and (max-width: 476px) {
    .header__content {
        padding-top: 3.5px;
        padding-bottom: 3.5px;
    }
    .header__options {
        display: none;
    }
}



/* --------- MENU --------- */
.menu {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    list-style: none;
    display: flex;
}

.menu__link {
    color: var(--secondary-color);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    background-color: transparent;
    border-radius: 100px;
    padding: 5px 15px;
    transition: background-color 300ms;
}

.menu__link:hover {
    background-color: var(--section-secondary-color);
}

@media screen and (max-width: 1024px) {
    .menu {
        display: none;
    }
}



/* --------- SECTION --------- */
.section {
    border-bottom: solid 1px var(--border-color);
    padding: 88px 0;
    background-color: var(--section-primary-color);
}

.section--grey {
    background-color: var(--section-secondary-color);
}

.section--banner {
    padding:0;
}

.section__title {
    text-align: center;
}

.section__content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section__content--banner {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 56px;
    padding: 81px 0;
}

.section__content--nosotros {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__content--aliados {
    width: 90%;
}

.section__content--cursos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__content--footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 84px;
}

.section--round-corners {
    border-radius: 0px 0px 40px 40px;
    box-shadow: 0px 5px 4px rgba(0, 0, 0,0.5);
}

@media screen and (max-width: 1097px) {
    .section__content--nosotros {
        justify-content: space-around;
    }
}

@media screen and (max-width: 1024px) {
    .section__content--footer {
        flex-direction: column-reverse;
        gap: 40px;
    }
}

@media screen and (max-width: 879px) {
    .section__content--cursos {
        flex-direction: column;
        gap: 40px;
    }
}

@media screen and (max-width: 679px) {
    .section__content--nosotros {
        flex-direction: column;
    }

    .section__content--banner {
        gap: 33px;
    }
}



/* --------- BANNER --------- */
.banner {
    margin-left: auto;
    margin-right: auto;
    background-image: url('../images/banner01.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.banner__top-title {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    display: block;
}

.banner__cta {
    display: flex;
    justify-items: left;
    gap: 39px;
}

.banner__text {
    font-size: 16px;
    width: 480px;
}

@media screen and (max-width: 1241px) {
    .banner {
        background-image: url('../images/banner02.jpg');
        background-size: cover;
    }
}

@media screen and (max-width: 727px) {
    .banner__text {
        width: auto;
    }
}

@media screen and (max-width: 683px) {
    .banner__cta {
        flex-direction: column-reverse;
        gap: 33px;
    }
}

@media screen and (max-width: 638px) {
    .banner__title {
        font-size: 40px;
        line-height: 50px;
    }
    .banner__top-title {
        font-size: 16px;
    }
    .banner__cta {
        flex-direction: column-reverse;
    }
}



/* --------- NOSOTROS --------- */
.nosotros__logo {
    background-image: url('../images/line.svg');
    background-repeat: no-repeat;
    background-position: right;
    width: 347px;
    height: 223px;
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.nosotros__logo-img {
    width: 240px;
}

.nosotros__text-wrap {
    display: flex;
    justify-content: space-between;
    gap: 69px;
}

.nosotros__text {
    width: 337px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

@media screen and (max-width: 1097px) {
    .nosotros__text-wrap {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 1024px) {
    .menu {
        display: none;
    }
}

@media screen and (max-width: 679px) {
    .nosotros__logo {
        background-image: url('../images/line-horizontal.svg');
        background-position: center bottom;
        margin-right: 0;
        margin-bottom: 69px;
        justify-content: center;
        align-items: flex-start;
        height: 213px;
    }

    .nosotros__text-wrap {
        align-items: center;
    }

    .nosotros__text {
        width: 70%;
    }
}

@media screen and (max-width: 494px) {
    .nosotros__logo, .nosotros__text {
        width: auto;
    }

    .nosotros__logo-img {
        width: 90%;
    }
}



/* --------- ALIADOS --------- */
.aliados-slideshow {
    margin: 40px -37px;
}

.aliados-slideshow__item {
    margin: 0 37px;
}

.aliados-slideshow__item img {
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .aliados-slideshow {
        margin: 40px -27px;
    }

    .aliados-slideshow__item {
        margin: 0 27px;
    }
}


@media screen and (max-width: 768px) {
    .aliados-slideshow {
        margin: 40px -20px;
    }

    .aliados-slideshow__item {
        margin: 0 20px;
    }
}



/* --------- CURSOS --------- */
.cursos-sidebar {
    width: 21%;
    display: flex;
    flex-wrap: wrap;
    gap: 34px;
}

.cursos-slideshow {
    color: var(--section-primary-color);
    width: 67%;
}

.slick-prev::before, .slick-next::before {
    color: var(--primary-color-hover);
}

.slick-dots li.slick-active button:before, .slick-dots li button:before {
    color: var(--primary-color-hover);
    font-size: 15px;
    line-height: 50px;
}

.cursos-slideshow__item {
    height: 382px;
    padding: 38px 45px;
}

.cursos-slideshow__desc-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cursos-slideshow__title {
    width: 60%;
}

.cursos-slideshow__description {
    width: 60%;
    font-size: 15px;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cursos-slideshow__text {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.cursos-slideshow__item--bg-01, .cursos-slideshow__item--bg-02 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cursos-slideshow__item--bg-01 {
    background-image: url('../images/cursos01.png');
    
}

.cursos-slideshow__item--bg-02 {
    background-image: url('../images/cursos02.png');
}

@media screen and (max-width: 1024px) {
    .cursos-slideshow__title, .cursos-slideshow__description {
        width: 65%;
    }

    .cursos-slideshow__item--bg-01, .cursos-slideshow__item--bg-02 {
        background-size: cover;
        background-position: right;
    }
}

@media screen and (max-width: 879px) {
    .cursos-sidebar, .cursos-slideshow {
        width: 100%;
    }   
}

@media screen and (max-width: 634px) {
    .cursos-slideshow__title, .cursos-slideshow__description {
        width: 90%;
    }
}

@media screen and (max-width: 490px) {
    .cursos-slideshow__title, .cursos-slideshow__description {
        width: 100%;
    }

    .cursos-slideshow__item {
        height: 440px;
    }
}


/* --------- TESTIMONIOS --------- */
.testimonios-list {
    display: flex;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin: 40px 0 0 0;
    overflow-x: hidden;
}

.testimonios-list__item {
    width: 395px;
    height: 477px;
    padding: 40px 65px 40px 40px;
}

.testimonios-list__item--bg-01, .testimonios-list__item--bg-02, .testimonios-list__item--bg-03 {
    background-repeat: no-repeat;
    background-size: contain;
}

.testimonios-list__item--bg-01 {
    background-image: url('../images/testimonios-bg-01.svg');
}

.testimonios-list__item--bg-02 {
    background-image: url('../images/testimonios-bg-02.svg');
}

.testimonios-list__item--bg-03 {
    width: 370px;
    padding: 40px 40px;
    background-image: url('../images/testimonios-bg-03.svg');
}

.testimonios-list__quote {
    width: 285px;
    height: 100%;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    position: relative;
}

.testimonios-list__author {
    display: flex;
    align-items: center;
    gap: 25px;
    position: absolute;
    bottom: 0;
}

.testimonios-list__avatar {
    width: 67px;
}

.testimonios-list__role {
    font-size: 12px;
    line-height: 15px;
}

@media screen and (max-width: 1174px) {
    .testimonios-list {
        flex-direction: column;
    }

    .testimonios-list__item, .testimonios-list__quote {
        width: auto;
    }

    .testimonios-list__item {
        height: auto;
    }

    .testimonios-list__item--bg-01, .testimonios-list__item--bg-02, .testimonios-list__item--bg-03 {
        background-size: auto 100%;
        background-position: right;
    }

    .testimonios-list__item--bg-01 {
        background-image: url('../images/testimonios-bg-01-horizontal.svg');
    }

    .testimonios-list__item--bg-02 {
        background-image: url('../images/testimonios-bg-02-horizontal.svg');
    }

    .testimonios-list__item--bg-03 {
        background-image: url('../images/testimonios-bg-03-horizontal.svg');
    }

    .testimonios-list__text {
        padding-bottom: 150px;
    }

    .testimonios-list__author {
        padding-bottom: 20px;
    }
}



/* --------- AUSPICIADORES --------- */
.auspiciadores-wrap {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 793px) {
    .auspiciadores-wrap {
        flex-direction: column;
        gap: 50px;
    }
}



/* --------- FOOTER --------- */
.footer {
    padding-top: 45px;
    padding-bottom: 50px;
    color: var(--section-primary-color);
    font-size: 15px;
}

.footer__about {
    width: 270px;
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
}

.footer__copyright {
    color: var(--copyright-color);
}

.footer__columns {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.footer__title {
    text-transform: uppercase;
    margin: 0 0 17px 0;
}

.footer__link {
    color: var(--section-primary-color);
    transition: color 300ms;
    margin-bottom: 10px;
    display: block;
}

    .footer__link:hover {
        color: var(--primary-color);
    }

.footer__navigation {
    width: 170px;
}

.footer__usefullinks {
    width: 178px;
}

.footer__contact {
    width: 300px;
}

.footer__contact-info {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.footer__contact-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
}

.footer__contact-socials {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer__contact-item-icon {
    margin-top: 4px;
}

@media screen and (max-width: 1024px) {
    .footer__about {
        width: auto;
    }

    .footer__columns {
        justify-content: space-between;
    }

    .footer__contact {
        width: 300px;
    }
}

@media screen and (max-width: 750px) {
    .footer__columns {
        flex-direction: column;
        gap: 50px;
    }

    .footer__contact {
        width: auto;
    }

    .footer__contact-info {
        flex-direction: column;
    }
}